body {
  background-image: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(20, 20, 20) )
}

.nav-container{
    background-color: rgb(255, 255, 255);
    position: sticky;
    display: flex;
    top: 0px;
    height: 20vh;
    padding: 5px 5px;

  }

.nav-container a{
    float: left;
    display: inline-flex;
    color: #1e1d1d;
    text-align: center;
    width: 18px;
    height: 17px;
    padding: 5px 5px;
    margin: 2px 10px;
    margin-top: 10px;
    text-decoration: dashed;
    transition: all 0.5s;
    border-radius: 50%;
  }

.nav-container a:hover {
    background-color: rgba(17, 16, 16, 0.929);
    color: rgba(232, 230, 230, 0.927);
    width: 25px;
    height: 25px;
    border-radius: 90%;
}

#nav-right{
  margin-left: 78%;
  width: 60px;
  margin-top: 20px;

}
#nav-right :hover{
  border-radius: 30%;
}

.nav-buttons-div{
  width: 70%;
  height: 50px;
  padding: 5px;
  padding-left: 20px;
  border: 3px solid rgba(100, 98, 98, 0.556);
}

@media screen and (max-width: 600px) {
  .nav-buttons-div{
    
  }

}

.Logobar{
  display: block;
  position: absolute;
  border: 3px solid rgba(100, 98, 98, 0.556);
  width: 89%;
  top: 10vh;
  margin-left: 5%;
}

#logoimage{
  width: 23vh;
  top: 1vh;
  position: absolute;
  margin-left: 44%;
}

