body {
  background-image: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(20, 20, 20) )
}

.nav-container{
    background-color: rgb(255, 255, 255);
    display: flex;
    position: sticky;
    top: 0px;
    height: 20vh;
    padding: 5px 5px;

  }

.nav-buttons-div{
  position: absolute;
  display: block;
  width: 14%;
  margin-top: 20px;
  margin-left: 5%;
  height: 25%;
  padding: 5px;
}

.nav-container a{
    float: left;
    display: inline-flex;
    color: #1e1d1d;
    text-align: center;
    padding: 5px 6px;
    margin: 1% 2%;
    margin-top: 10px;
    text-decoration: dashed;
    transition: all 0.5s;
    border-radius: 47%;
  }

.nav-container a:hover {
    background-color: rgba(17, 16, 16, 0.929);
    color: rgba(232, 230, 230, 0.927);
}

#infoicon{
  font-size: 130%;
}

#nav-right{
  margin-top: 35px;
  margin-left: 92%;
  height: 22px;
}


@media screen and (max-width: 600px) {
  .nav-buttons-div{
    flex: auto;
  }

}

.Logobar{
  display: block;
  position: absolute;
  border: 3px solid rgba(100, 98, 98, 0.556);
  width: 89%;
  top: 10vh;
  margin-left: 5%;
}

#logoimage{
  width: 23vh;
  top: 1vh;
  position: absolute;
  margin-left: 44%;
}

